<div class="profilContainer">
  <mat-card>
    <h2>E-mail / felhasználónév változtatás</h2>
    <form #profilForm="ngForm" (ngSubmit)="profilMentes()">
      <mat-form-field appearance="fill" class="inputField">
        <mat-label>Név</mat-label>
        <input matInput id="nev" name="nev" [(ngModel)]="profilNev" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="inputField">
        <mat-label>E-mail</mat-label>
        <input matInput id="email" name="email" [(ngModel)]="profilEmail" type="email" required>
      </mat-form-field>

      <div style="text-align: center;">
        <button mat-raised-button class="saveBtn" type="submit">Mentés</button>
      </div>
    </form>
  </mat-card>
</div>
