h2 {
  text-align: center;
}

.saveBtn {
  align-self: center;
  font-weight: bold;
  color: whitesmoke !important;
  background-color: #6233d3 !important;
  letter-spacing: 2px;
}

.saveBtn:hover {
  outline: 3px solid #e4e4e4;
}

.inputField {
  color: black !important;

}
