<div class="container" *ngIf="!belepett">
  <!-- Bejelentkezés doboz -->
  <mat-card style="margin-bottom: 24px;">
    <h2>Bejelentkezés</h2>
    <form (ngSubmit)="bejelentkezes()" #bejelentkezesForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required>
      </mat-form-field>

      <div  style="text-align: center; margin-top: 1rem;">
      <button mat-raised-button class="loginBtn" type="submit">Bejelentkezés</button>
      </div>
    </form>
  </mat-card>

  <!-- Regisztráció doboz -->
  <mat-card>
    <h2>Regisztráció</h2>
    <form (ngSubmit)="regisztracio()" #regForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Név</mat-label>
        <input matInput type="text" id="nev" name="nev" [(ngModel)]="nev" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="emailReg" name="emailReg" [(ngModel)]="emailReg" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" id="jelszoReg" name="jelszoReg" [(ngModel)]="jelszoReg" required>
      </mat-form-field>
      <div  style="text-align: center; margin-top: 1rem;">
        <button mat-raised-button class="regBtn" type="submit">Regisztráció</button>
      </div>
    </form>
  </mat-card>
</div>

<!-- Bejelentkezett állapot -->
<h2 *ngIf="belepett">Jelenleg be vagy jelentkezve!</h2>
<div class="belepett-box" *ngIf="belepett">
  <div style="text-align: center">
    <button mat-raised-button color="primary" [routerLink]="'/piac'" style="margin-right: 8px;">Piachoz</button>
    <button mat-raised-button color="warn" (click)="kijelentkezes()">Kijelentkezés</button>
  </div>

</div>
