<div class="container" *ngIf="!belepett">
  <!-- Bejelentkezés doboz -->
  <div class="card">
    <h2>Bejelentkezés</h2>
    <form (ngSubmit)="bejelentkezes()">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>

      <label for="jelszo">Jelszó:</label>
      <input type="password" id="jelszo" name="jelszo" [(ngModel)]="jelszo" required>

      <button type="submit" class="btn">Bejelentkezés</button>
    </form>
  </div>

  <!-- Regisztráció doboz -->
  <div class="card">
    <h2>Regisztráció</h2>
    <form (ngSubmit)="regisztracio()">
      <label for="nev">Név:</label>
      <input type="text" id="nev" name="nev" [(ngModel)]="nev" required>

      <label for="emailReg">Email:</label>
      <input type="email" id="emailReg" name="emailReg" [(ngModel)]="emailReg" required>

      <label for="jelszoReg">Jelszó:</label>
      <input type="password" id="jelszoReg" name="jelszoReg" [(ngModel)]="jelszoReg" required>

      <button type="submit" class="btn">Regisztráció</button>
    </form>
  </div>
</div>

<!-- Bejelentkezett állapot -->
<h2>Jelenleg be vagy jelentkezve!</h2>
<div class="belepett-box" *ngIf="belepett">
  <button [routerLink]="'/piac'" class="btn small-btn">Piachoz</button>
  <button (click)="kijelentkezes()" class="btn small-btn">Kijelentkezés</button>
</div>
