.aru-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem 6rem;
  padding: 5rem;
  background-color: #1e1e1e;
  min-height: 100vh;
  justify-items: center;
}

.aru-card {
  background-color: #3f3f70;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
  height: 300px;
  margin: 0 auto;
  border: 2px solid black;
  text-shadow:
    -1px -1px 0 black,
    0   -1px 0 black,
    1px -1px 0 black,
    -1px  0   0 black,
    1px  0   0 black,
    -1px  1px 0 black,
    0    1px 0 black,
    1px  1px 0 black;
}

.aru-card p {
  margin: 0.5rem 0;
  font-weight: bold;
}

.aru-kep {
  border-radius: 10px;
  border: 2px solid black;
}

.aru-card input[type="text"] {
  width: 85%;
  margin: 1rem auto;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px lightgrey;
}


p[hidden] {
  display: none;
}

.btn-kosarhoz {
  position: absolute;
  top: 20px !important;
  right: 50px !important;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  z-index: 100;
  color: black;
  background-color: #376098;
}

.btn-profilhoz {
  position: absolute;
  top: 70px !important;
  right: 50px !important;
  letter-spacing: 1px;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  z-index: 100;
  color: black;
  background-color: #376098;
}

.btn-kosarhoz:hover {
  outline: 4px solid whitesmoke !important;
}

.btn-profilhoz:hover {
  outline: 4px solid whitesmoke !important;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: #e0e0e0;
}

.msg{
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #e0e0e0;
  text-shadow:
    -1px -1px 0 black,
    0   -1px 0 black,
    1px -1px 0 black,
    -1px  0   0 black,
    1px  0   0 black,
    -1px  1px 0 black,
    0    1px 0 black,
    1px  1px 0 black;
}
